body {
  background-color: black;
  padding: 1rem;
  font: 1.2rem Inconsolata, monospace;
  font-weight: 550;
  /* text-shadow: 0 0 5px #c8c8c8; */
  color: green;
  line-height: 130%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

title {
  color: green;
}

.console {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  width: 100%;
  padding: 5px;
  padding-bottom: 30px;
}

input[type="text"] {
  background: transparent;
  border: none;
  font: 1.2rem Inconsolata, monospace;
  font-weight: 550;
  color: green;
  width: 60%;
  margin-left: 0 px;
  margin-top: 3px;
  margin-bottom: 30px;
  display: inline-block;
}

:focus {
  outline: none;
}

.userPrompt {
  margin-right: 12px;
}

.riddlerPrompt {
  margin-right: 11px;
}

.riddlerPromptMap {
  /* margin-top: 10px; */
}

.userInputMap,
.userInputInitial {
  margin-top: 3px;
  margin-bottom: 30px;
  display: inline-block;
}

a {
  color: rgb(0, 169, 0);
  font-weight: bolder;
  text-decoration: inherit;
}
